<nav>
   <ul class="pagination">
      <li>
        <a class="pagination__link pagination__link--previous is-disabled" href="#">Previous</a>
      </li>
      <li>
        <a class="pagination__link" href="#">1</a>
      </li>
      <li>
        <a class="pagination__link" href="#">2</a>
      </li>
      <li>
        <a class="pagination__link is-active" href="#">3</a>
      </li>
      <li>
        <a class="pagination__link" href="#">4</a>
      </li>
      <li>
        <a class="pagination__link" href="#">5</a>
      </li>
      <li>
        <a class="pagination__link" href="#">…</a>
      </li>
      <li>
        <a class="pagination__link pagination__link--next" href="#">Next</a>
      </li>
   </ul>
</nav>
