<ul>
  <li class="notification {{#if modifier}} notification--{{modifier}} {{/if}}">
    <p class="notification__title">Title</p>
    <p class="notification__label tag">Category</p>
    <p class="notification__time">Today</p>
  </li>
</ul>
