.notification {
  display: grid;
  grid-template:
    't d' auto
    'l l' auto / 1fr auto;
  padding: 16px 24px;
}

.notification--unread {
  border-left: 3px solid var(--color-primary);
}

.notification__title {
  grid-area: t;
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 17px;

  .notification--unread & {
    font-weight: 700;
  }
}

.notification__label {
  grid-area: l;
  justify-self: start;
}

.notification__time {
  grid-area: d;
  color: var(--color-gray-50);
  font-size: 14px;
  line-height: 17px;
}
