<dl class="summary-data-card">
  <div class="summary-data-card__label-title-group">
    <dt class="summary-data-card__label-title">Director of Development</dt>
  </div>

  <div class="summary-data-card__label-group">
    <dd class="summary-data-card__label">Information Technology</dd>
  </div>

  <div class="summary-data-card__data-point-group">
    <dd class="summary-data-card__data-point">008-IT-Director</dd>
    <dd class="summary-data-card__data-point">1 yr 4 mos</dd>
  </div>

  <div class="summary-data-card__actions">
    <button class="button button--small button--clear button--icon-only">
      <svg class="button__icon button__icon--ellipsis-v">
        <use xlink:href="{{path '/svg/svg.svg' }}#ellipsis-v" />
      </svg>
    </button>
  </div>
</dl>

<dl class="summary-data-card">
  <div class="summary-data-card__label-title-group">
    <dt class="summary-data-card__label-title">Director of Development</dt>
    <dt class="summary-data-card__label-title">Label 2</dt>
    <dt class="summary-data-card__label-title">Label 3</dt>
  </div>

  <div class="summary-data-card__label-group">
    <dd class="summary-data-card__label">Information Technology</dd>
  </div>

  <div class="summary-data-card__data-point-group">
    <dd class="summary-data-card__data-point">008-IT-Director</dd>
    <dd class="summary-data-card__data-point">1 yr 4 mos</dd>
  </div>

  <div class="summary-data-card__actions">
    <button class="button button--small button--clear button--icon-only">
      <svg class="button__icon button__icon--ellipsis-v" viewBox="0 0 4 13">
        <use xlink:href="{{path '/svg/svg.svg' }}#ellipsis-v" />
      </svg>
    </button>
  </div>
</dl>

<dl class="summary-data-card">
  <div class="summary-data-card__label-title-group">
    <dt class="summary-data-card__label-title">Salary Increase</dt>
  </div>

  <div class="summary-data-card__label-group">
    <dd class="summary-data-card__label">Merit Increase</dd>
  </div>

  <div class="summary-data-card__data-point-group">
    <dd class="summary-data-card__data-point">Review 2 of 4</dd>
    <dd class="summary-data-card__data-point">{{>'@progress'}}</dd>
  </div>

  <div class="summary-data-card__actions">
    <button class="button button--small button--clear button--icon-only">
      <svg class="button__icon button__icon--ellipsis-v">
        <use xlink:href="{{path '/svg/svg.svg' }}#ellipsis-v" />
      </svg>
    </button>
</dl>
