<dl class="summary-data-row">
  <div class="summary-data-row__pair">
    <dt class="summary-data-row__label">Hired</dt>
    <dd class="summary-data-row__value">Jan 15, 2019</dd>
  </div>
  <div class="summary-data-row__pair">
    <dt class="summary-data-row__label">Supervisor</dt>
    <dd class="summary-data-row__value">Allan Morrison</dd>
  </div>
  <div class="summary-data-row__pair">
    <dt class="summary-data-row__label">Leave Balances</dt>
    <div class="summary-data-row__value--multi">
      <dd class="summary-data-row__value">4 sick</dd>
      <dd class="summary-data-row__value">8 vacation</dd>
      <dd class="summary-data-row__value">1 personal</dd>
    </div>
  </div>
</dl>
