<div style="margin-bottom:20px;">
  <h3 class="f-heading">Blacks and Grays</h3>
  <div class="color-group color-group--grays">
    <div class="color-chip">Near Black</div>
    <div class="color-chip">Near Black Overlay</div>
    <div class="color-chip">Gray 90</div>
    <div class="color-chip">Gray 80</div>
    <div class="color-chip">Gray 70</div>
    <div class="color-chip">Gray 60</div>
    <div class="color-chip">Gray 50</div>
    <div class="color-chip">Gray 40</div>
    <div class="color-chip">Gray 30</div>
    <div class="color-chip">Gray 20</div>
    <div class="color-chip">Gray 10</div>
    <div class="color-chip">Gray 05</div>
    <div class="color-chip">Background</div>
    <div class="color-chip">Background Light</div>
  </div>
</div>
