<div style="margin-bottom:20px;">
  <h3 class="f-heading">Status Colors</h3>
  <div class="color-group color-group--status">
    <div class="color-variant color-variant--alert">
      <p>Alert</p>
      <div class="color-chip">AA Pass</div>
      <div class="color-chip">AA Pass</div>
      <div class="color-chip">AA Pass</div>
    </div>
    <div class="color-variant color-variant--caution">
      <p>Caution</p>
      <div class="color-chip">AA Pass</div>
      <div class="color-chip">AA Pass</div>
      <div class="color-chip">AA Pass</div>
    </div>
    <div class="color-variant color-variant--info">
      <p>Info</p>
      <div class="color-chip">AA Pass</div>
      <div class="color-chip">AA Pass</div>
      <div class="color-chip">AA Pass</div>
    </div>
    <div class="color-variant color-variant--success">
      <p>Success</p>
      <div class="color-chip">AA Pass</div>
      <div class="color-chip">AA Pass</div>
      <div class="color-chip">AA Pass</div>
    </div>
  </div>
</div>

