<div style="margin-bottom:20px;">
  <h3 class="f-heading">Theme Colors</h3>
  <div class="color-group color-group--theme" data-color-theme="color-theme-default">
    <p>CitySuite Default</p>
    <div class="color-chip">Primary</div>
    <div class="color-chip">Primary Dark</div>
    <div class="color-chip">Primary Light</div>
    <div class="color-chip">Secondary</div>
    <div class="color-chip">Tertiary</div>
    <div class="color-chip">Gradient</div>
  </div>
  <div class="color-group color-group--theme" data-color-theme="color-theme-neutral">
    <p>CitySuite Neutral</p>
    <div class="color-chip">Primary</div>
    <div class="color-chip">Primary Dark</div>
    <div class="color-chip">Primary Light</div>
    <div class="color-chip">Secondary<br>AA Fail</div>
    <div class="color-chip">Tertiary</div>
    <div class="color-chip">Gradient</div>
  </div>
  <div class="color-group color-group--theme" data-color-theme="color-theme-teal">
    <p>color-theme-teal</p>
    <div class="color-chip">Primary</div>
    <div class="color-chip">Primary Dark</div>
    <div class="color-chip">Primary Light</div>
    <div class="color-chip">Secondary</div>
    <div class="color-chip">Tertiary</div>
    <div class="color-chip">Gradient</div>
  </div>
</div>
