<h2 class="f-heading">Record Header Large</h2>
<div class="record record--header-large">
  <div class="record__group record__group--data">
    <img class="record__image" src="http://lorempixel.com/300/300/people" alt="">
    <h2 class="record__title">Title</h2>
    <h3 class="record__subtitle">Subtitle<span class="record__data-point">Data Point</span>
    </h3>

    <ul class="record__list">
      <li class="record__data-point">Data Point 1</li>
      <li class="record__data-point">Data Point 2</li>
      <li class="record__data-point">Data Point 3</li>
      <li class="record__data-point">Data Point 4</li>
    </ul>
  </div>

  {{> '@record--header-actions'}}
</div>

<h2 class="f-heading" style="margin-top: 2rem;">Record Header Mini</h2>
<div class="record record--header-mini">
  <div class="record__group record__group--data">
    <img class="record__image" src="http://lorempixel.com/300/300/people" alt="">
    <h2 class="record__title">Title<span class="record__data-point">Data Point</span>
    </h2>
  </div>

  {{> '@record--header-actions'}}
</div>

<h2 class="f-heading" style="margin-top: 2rem; margin-bottom: 2rem;">Record Actions</h2>
