<li class="row {{#if modifier}} row--{{modifier}} {{/if}}">
  <div class="row__checkbox"></div>
  <p class="row__label tag tag--category">Category</p>
  <p class="row__title">Title</p>
  <p class="row__description">Description</p>
  <p class="row__meta">Due Date</p>
  <a class="row__link">Read More</a>
</li>
