.row {
  $-border-radius: $border-radius-sm;

  display: grid;
  grid-template:
    "checkbox label title       meta link" auto
    "checkbox label description meta link" auto / auto auto 1fr auto auto;
  padding: 20px 24px;
  border: 1px solid var(--color-gray-5);
  background-color: var(--white);

  &:first-child {
    border-radius: $-border-radius $-border-radius 0 0;
  }

  &:last-child {
    border-radius: 0 0 $-border-radius $-border-radius;
  }

  &:not(:first-child) {
    border-top: 0;
  }
}

.row__checkbox {
  grid-area: checkbox;
}

.row__label {
  align-self: start;
  grid-area: label;
  margin-right: 40px;
}

.row__title {
  grid-area: title;
  margin-bottom: $space-3xs;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
}

.row__description {
  grid-area: description;
  font-size: 14px;
  line-height: 17px;
}

.row__meta {
  grid-area: meta;
  font-size: 14px;
  line-height: 17px;
}

.row__link {
  margin-left: 1em;
  grid-area: link;
  font-size: 14px;
  line-height: 17px;
}
