{{!-- TODO: Engineering: default state displays `--bookmark`. Once clicked, add class `.is-bookmarked` to display `.--bookmark-checked`. --}}
<div class="table__action-buttons">
  <button class="table__action-button button button--icon-only button--clear is-bookmarked">
    <svg class="button__icon button__icon--bookmark" role="presentation">
      <use xlink:href="{{path '/svg/svg.svg' }}#bookmark"/></use>
    </svg>
    <svg class="button__icon button__icon--bookmark-checked" role="presentation">
      <use xlink:href="{{path '/svg/svg.svg' }}#bookmark-checked"/></use>
    </svg>
  </button>
  <button class="table__action-button button button--icon-only button--clear">
    <svg class="button__icon" role="presentation">
      <use xlink:href="{{path '/svg/svg.svg' }}#ellipsis-v"/></use>
    </svg>
  </button>
</div>
