<div class="table__action-buttons">
  <button class="table__action-button button button--small button--icon-only button--clear">
    <svg class="button__icon button__icon--copy" role="presentation">
      <use xlink:href="{{path '/svg/svg.svg' }}#copy"/></use>
    </svg>
  </button>
  <button class="table__action-button button button--small button--icon-only button--clear">
    <svg class="button__icon button__icon--trash" role="presentation">
      <use xlink:href="{{path '/svg/svg.svg' }}#trash"/></use>
    </svg>
  </button>
  <button class="table__action-button button button--small button--icon-only button--clear">
    <svg class="button__icon button__icon--bars" role="presentation">
      <use xlink:href="{{path '/svg/svg.svg' }}#bars"/></use>
    </svg>
  </button>
</div>
