body {
  font-size: $font-size-body;
  font-family: $font-family-text;
  line-height: $line-height-body;
  color: var(--color-near-black);

  @media screen and (max-width: 800px) {
    font-size: $font-size-body-mobile;
  }
}

*,
::before,
::after {
  box-sizing: border-box;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; // Make sure our font rules win
}

// Inline Links
p,
ol,
ul,
dl {
  a {
    border-bottom: 1px solid var(--color-primary);
    color: inherit;
    text-decoration: none;

    &:focus {
      outline: none;
      border-bottom: none;
      box-shadow:
        0 0 0 2px var(--white),
        0 0 0 4px var(--color-primary);
    }

    &:hover {
      background-color: var(--color-primary);
      border-bottom: none;
      color: var(--color-text-lightest);
    }
  }
}

