.u-center {
  text-align: center;
}

.u-screen-reader-only {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  white-space: nowrap;
}

.u-flex {
  display: flex;
}

.u-flex-start {
  display: flex;
  justify-content: flex-start;
}

.u-flex-end {
  display: flex;
  justify-content: flex-end;
}

.u-inline-flex {
  display: inline-flex;
}

.u-screen-reader-only {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  white-space: nowrap;
}

.u-push-down-1 {
  position: relative;
  top: 1px;
}
