

<div class="button-group
  ">
  
  
  
        <button
          class="button button--default
          
          
           button--small "
          
        >
  
  
          Group small default
  
  
        </button>
  
  
        <button
          class="button button--secondary
          
          
           button--small "
          
        >
  
  
          Group small secondary
  
  
        </button>
  
  
        <button
          class="button button--tertiary
          
          
           button--small "
          
        >
  
  
          Group small tertiary
  
  
        </button>
  
  
  
</div>

