


    <div style="margin-bottom:20px;">
      <h3 class="f-heading">
        Button: Success (default)
        
      </h3>


      <button
        class="button button--default
         button--success 
        
        "
        
      >


        Success default default


      </button>


      <button
        class="button button--secondary
         button--success 
        
        "
        
      >


        Success default secondary


      </button>


      <button
        class="button button--tertiary
         button--success 
        
        "
        
      >


        Success default tertiary


      </button>


    </div>


    <div style="margin-bottom:20px;">
      <h3 class="f-heading">
        Button: Success (disabled)
        
      </h3>


      <button
        class="button button--default
         button--success 
        
        "
         disabled 
      >


        Success disabled default


      </button>


      <button
        class="button button--secondary
         button--success 
        
        "
         disabled 
      >


        Success disabled secondary


      </button>


      <button
        class="button button--tertiary
         button--success 
        
        "
         disabled 
      >


        Success disabled tertiary


      </button>


    </div>


    <div style="margin-bottom:20px;">
      <h3 class="f-heading">
        Button: Success (small)
        
      </h3>


      <button
        class="button button--default
         button--success 
        
         button--small "
        
      >


        Success small default


      </button>


      <button
        class="button button--secondary
         button--success 
        
         button--small "
        
      >


        Success small secondary


      </button>


      <button
        class="button button--tertiary
         button--success 
        
         button--small "
        
      >


        Success small tertiary


      </button>


    </div>


