

<div class="button-group
   button-group--right ">
  
  
  
        <button
          class="button button--tertiary
           button--right 
          
          "
          
        >
  
  
          Group Right default tertiary
  
  
        </button>
  
  
        <button
          class="button button--secondary
           button--right 
          
          "
          
        >
  
  
          Group Right default secondary
  
  
        </button>
  
  
        <button
          class="button button--default
           button--right 
          
          "
          
        >
  
  
          Group Right default default
  
  
        </button>
  
  
  
</div>

