

<div style="margin-bottom:20px;">
<div style="margin-bottom:20px;">
      <h3 class="f-heading">
        Button: Default (default)
        
      </h3>


      <button
        class="button button--default
        
        
        "
        
      >


        Default default default


      </button>


      <button
        class="button button--secondary
        
        
        "
        
      >


        Default default secondary


      </button>


      <button
        class="button button--tertiary
        
        
        "
        
      >


        Default default tertiary


      </button>


    </div>


    <div style="margin-bottom:20px;">
      <h3 class="f-heading">
        Button: Default (disabled)
        
      </h3>


      <button
        class="button button--default
        
        
        "
         disabled 
      >


        Default disabled default


      </button>


      <button
        class="button button--secondary
        
        
        "
         disabled 
      >


        Default disabled secondary


      </button>


      <button
        class="button button--tertiary
        
        
        "
         disabled 
      >


        Default disabled tertiary


      </button>


    </div>


    <div style="margin-bottom:20px;">
      <h3 class="f-heading">
        Button: Default (small)
        
      </h3>


      <button
        class="button button--default
        
        
         button--small "
        
      >


        Default small default


      </button>


      <button
        class="button button--secondary
        
        
         button--small "
        
      >


        Default small secondary


      </button>


      <button
        class="button button--tertiary
        
        
         button--small "
        
      >


        Default small tertiary


      </button>


    </div>
</div>

<div style="margin-bottom:20px;">
<div style="margin-bottom:20px;">
      <h3 class="f-heading">
        Button: Action (default)
        
      </h3>


      <button
        class="button button--default
         button--action 
        
        "
        
      >


        Default default default


      </button>


      <button
        class="button button--secondary
         button--action 
        
        "
        
      >


        Default default secondary


      </button>


      <button
        class="button button--tertiary
         button--action 
        
        "
        
      >


        Default default tertiary


      </button>


    </div>


    <div style="margin-bottom:20px;">
      <h3 class="f-heading">
        Button: Action (disabled)
        
      </h3>


      <button
        class="button button--default
         button--action 
        
        "
         disabled 
      >


        Default disabled default


      </button>


      <button
        class="button button--secondary
         button--action 
        
        "
         disabled 
      >


        Default disabled secondary


      </button>


      <button
        class="button button--tertiary
         button--action 
        
        "
         disabled 
      >


        Default disabled tertiary


      </button>


    </div>
</div>

<div style="margin-bottom:20px;">
<div style="margin-bottom:20px;">
      <h3 class="f-heading">
        Button: Alert (default)
        
      </h3>


      <button
        class="button button--default
         button--alert 
        
        "
        
      >


        Alert default default


      </button>


      <button
        class="button button--secondary
         button--alert 
        
        "
        
      >


        Alert default secondary


      </button>


      <button
        class="button button--tertiary
         button--alert 
        
        "
        
      >


        Alert default tertiary


      </button>


    </div>


    <div style="margin-bottom:20px;">
      <h3 class="f-heading">
        Button: Alert (disabled)
        
      </h3>


      <button
        class="button button--default
         button--alert 
        
        "
         disabled 
      >


        Alert disabled default


      </button>


      <button
        class="button button--secondary
         button--alert 
        
        "
         disabled 
      >


        Alert disabled secondary


      </button>


      <button
        class="button button--tertiary
         button--alert 
        
        "
         disabled 
      >


        Alert disabled tertiary


      </button>


    </div>


    <div style="margin-bottom:20px;">
      <h3 class="f-heading">
        Button: Alert (small)
        
      </h3>


      <button
        class="button button--default
         button--alert 
        
         button--small "
        
      >


        Alert small default


      </button>


      <button
        class="button button--secondary
         button--alert 
        
         button--small "
        
      >


        Alert small secondary


      </button>


      <button
        class="button button--tertiary
         button--alert 
        
         button--small "
        
      >


        Alert small tertiary


      </button>


    </div>
</div>

<div style="margin-bottom:20px;">
<div style="margin-bottom:20px;">
      <h3 class="f-heading">
        Button: Success (default)
        
      </h3>


      <button
        class="button button--default
         button--success 
        
        "
        
      >


        Success default default


      </button>


      <button
        class="button button--secondary
         button--success 
        
        "
        
      >


        Success default secondary


      </button>


      <button
        class="button button--tertiary
         button--success 
        
        "
        
      >


        Success default tertiary


      </button>


    </div>


    <div style="margin-bottom:20px;">
      <h3 class="f-heading">
        Button: Success (disabled)
        
      </h3>


      <button
        class="button button--default
         button--success 
        
        "
         disabled 
      >


        Success disabled default


      </button>


      <button
        class="button button--secondary
         button--success 
        
        "
         disabled 
      >


        Success disabled secondary


      </button>


      <button
        class="button button--tertiary
         button--success 
        
        "
         disabled 
      >


        Success disabled tertiary


      </button>


    </div>


    <div style="margin-bottom:20px;">
      <h3 class="f-heading">
        Button: Success (small)
        
      </h3>


      <button
        class="button button--default
         button--success 
        
         button--small "
        
      >


        Success small default


      </button>


      <button
        class="button button--secondary
         button--success 
        
         button--small "
        
      >


        Success small secondary


      </button>


      <button
        class="button button--tertiary
         button--success 
        
         button--small "
        
      >


        Success small tertiary


      </button>


    </div>
</div>

<div style="margin-bottom:20px;">
<div style="margin-bottom:20px;">
      <h3 class="f-heading">
        Button: Icon (default)
        
      </h3>


      <button
        class="button button--default
        
        
        "
        
      >

          <svg class="button__icon button__icon--prepend" viewBox="0 0 32 32"
            role="presentation">
            <circle cx="16" cy="16" fill="none" r="14"
              stroke="currentColor" stroke-width="2" />
          </svg>

        Icon default default


      </button>


      <button
        class="button button--secondary
        
        
        "
        
      >

          <svg class="button__icon button__icon--prepend" viewBox="0 0 32 32"
            role="presentation">
            <circle cx="16" cy="16" fill="none" r="14"
              stroke="currentColor" stroke-width="2" />
          </svg>

        Icon default secondary


      </button>


      <button
        class="button button--tertiary
        
        
        "
        
      >

          <svg class="button__icon button__icon--prepend" viewBox="0 0 32 32"
            role="presentation">
            <circle cx="16" cy="16" fill="none" r="14"
              stroke="currentColor" stroke-width="2" />
          </svg>

        Icon default tertiary


      </button>


    </div>


    <div style="margin-bottom:20px;">
      <h3 class="f-heading">
        Button: Icon (disabled)
        
      </h3>


      <button
        class="button button--default
        
        
        "
         disabled 
      >

          <svg class="button__icon button__icon--prepend" viewBox="0 0 32 32"
            role="presentation">
            <circle cx="16" cy="16" fill="none" r="14"
              stroke="currentColor" stroke-width="2" />
          </svg>

        Icon disabled default


      </button>


      <button
        class="button button--secondary
        
        
        "
         disabled 
      >

          <svg class="button__icon button__icon--prepend" viewBox="0 0 32 32"
            role="presentation">
            <circle cx="16" cy="16" fill="none" r="14"
              stroke="currentColor" stroke-width="2" />
          </svg>

        Icon disabled secondary


      </button>


      <button
        class="button button--tertiary
        
        
        "
         disabled 
      >

          <svg class="button__icon button__icon--prepend" viewBox="0 0 32 32"
            role="presentation">
            <circle cx="16" cy="16" fill="none" r="14"
              stroke="currentColor" stroke-width="2" />
          </svg>

        Icon disabled tertiary


      </button>


    </div>


    <div style="margin-bottom:20px;">
      <h3 class="f-heading">
        Button: Icon (small)
        
      </h3>


      <button
        class="button button--default
        
        
         button--small "
        
      >

          <svg class="button__icon button__icon--prepend" viewBox="0 0 32 32"
            role="presentation">
            <circle cx="16" cy="16" fill="none" r="14"
              stroke="currentColor" stroke-width="2" />
          </svg>

        Icon small default


      </button>


      <button
        class="button button--secondary
        
        
         button--small "
        
      >

          <svg class="button__icon button__icon--prepend" viewBox="0 0 32 32"
            role="presentation">
            <circle cx="16" cy="16" fill="none" r="14"
              stroke="currentColor" stroke-width="2" />
          </svg>

        Icon small secondary


      </button>


      <button
        class="button button--tertiary
        
        
         button--small "
        
      >

          <svg class="button__icon button__icon--prepend" viewBox="0 0 32 32"
            role="presentation">
            <circle cx="16" cy="16" fill="none" r="14"
              stroke="currentColor" stroke-width="2" />
          </svg>

        Icon small tertiary


      </button>


    </div>
</div>

<div style="margin-bottom:20px;">
<div style="margin-bottom:20px;">
      <h3 class="f-heading">
        Button: Multi (small)
        
      </h3>


      <button
        class="button button--default
        
         button--multi-action 
         button--small "
        
      >


        Multi small default

          <span class="button__action">
            <svg class="button__icon" viewBox="0 0 32 32"
              role="presentation">
              <circle cx="16" cy="16" fill="none" r="14"
                stroke="currentColor" stroke-width="2" />
            </svg>
          </span>

      </button>


      <button
        class="button button--secondary
        
         button--multi-action 
         button--small "
        
      >


        Multi small secondary

          <span class="button__action">
            <svg class="button__icon" viewBox="0 0 32 32"
              role="presentation">
              <circle cx="16" cy="16" fill="none" r="14"
                stroke="currentColor" stroke-width="2" />
            </svg>
          </span>

      </button>


    </div>
</div>

<div style="margin-bottom:20px;">
<hr>

<h2 class="f-heading">Button: Icon Only</h2>




      <div>

        <h3 class="f-heading">
          Button: Icon Only
          (default)
          (dim)
          
        </h3>

        <div class="tooltip-button">
          <button class="button button--icon-only
            button--dim
            
            
            "
            
            aria-describedby="button-desc">
            <span class="button__icon">
              <svg class="icon" viewBox="0 0 32 32"
              role="presentation">
                <circle cx="16" cy="16" fill="none" r="14"
                  stroke="currentColor" stroke-width="2" />
              </svg>
            </span>

            <span class="u-screen-reader-only">Action</span>
          </button>
          <div role="tooltip" class="tooltip-button__tooltip" id="button-desc">Manage Action</div>
        </div>

      </div>


      <div>

        <h3 class="f-heading">
          Button: Icon Only
          (default)
          (dim)
          
        </h3>

        <div class="tooltip-button">
          <button class="button button--icon-only
            button--dim
            
            
             has-notification "
            
            aria-describedby="button-desc">
            <span class="button__icon">
              <svg class="icon" viewBox="0 0 32 32"
              role="presentation">
                <circle cx="16" cy="16" fill="none" r="14"
                  stroke="currentColor" stroke-width="2" />
              </svg>
            </span>

            <span class="u-screen-reader-only">Action</span>
          </button>
          <div role="tooltip" class="tooltip-button__tooltip" id="button-desc">Manage Action</div>
        </div>

      </div>




      <div>

        <h3 class="f-heading">
          Button: Icon Only
          (small)
          (dim)
          
        </h3>

        <div class="tooltip-button">
          <button class="button button--icon-only
            button--dim
             button--small 
            
            "
            
            aria-describedby="button-desc">
            <span class="button__icon">
              <svg class="icon" viewBox="0 0 32 32"
              role="presentation">
                <circle cx="16" cy="16" fill="none" r="14"
                  stroke="currentColor" stroke-width="2" />
              </svg>
            </span>

            <span class="u-screen-reader-only">Action</span>
          </button>
          <div role="tooltip" class="tooltip-button__tooltip" id="button-desc">Manage Action</div>
        </div>

      </div>


      <div>

        <h3 class="f-heading">
          Button: Icon Only
          (small)
          (dim)
          
        </h3>

        <div class="tooltip-button">
          <button class="button button--icon-only
            button--dim
             button--small 
            
             has-notification "
            
            aria-describedby="button-desc">
            <span class="button__icon">
              <svg class="icon" viewBox="0 0 32 32"
              role="presentation">
                <circle cx="16" cy="16" fill="none" r="14"
                  stroke="currentColor" stroke-width="2" />
              </svg>
            </span>

            <span class="u-screen-reader-only">Action</span>
          </button>
          <div role="tooltip" class="tooltip-button__tooltip" id="button-desc">Manage Action</div>
        </div>

      </div>






      <div>

        <h3 class="f-heading">
          Button: Icon Only
          (default)
          (clear)
          
        </h3>

        <div class="tooltip-button">
          <button class="button button--icon-only
            button--clear
            
            
            "
            
            aria-describedby="button-desc">
            <span class="button__icon">
              <svg class="icon" viewBox="0 0 32 32"
              role="presentation">
                <circle cx="16" cy="16" fill="none" r="14"
                  stroke="currentColor" stroke-width="2" />
              </svg>
            </span>

            <span class="u-screen-reader-only">Action</span>
          </button>
          <div role="tooltip" class="tooltip-button__tooltip" id="button-desc">Manage Action</div>
        </div>

      </div>


      <div>

        <h3 class="f-heading">
          Button: Icon Only
          (default)
          (clear)
          
        </h3>

        <div class="tooltip-button">
          <button class="button button--icon-only
            button--clear
            
            
             has-notification "
            
            aria-describedby="button-desc">
            <span class="button__icon">
              <svg class="icon" viewBox="0 0 32 32"
              role="presentation">
                <circle cx="16" cy="16" fill="none" r="14"
                  stroke="currentColor" stroke-width="2" />
              </svg>
            </span>

            <span class="u-screen-reader-only">Action</span>
          </button>
          <div role="tooltip" class="tooltip-button__tooltip" id="button-desc">Manage Action</div>
        </div>

      </div>




      <div>

        <h3 class="f-heading">
          Button: Icon Only
          (small)
          (clear)
          
        </h3>

        <div class="tooltip-button">
          <button class="button button--icon-only
            button--clear
             button--small 
            
            "
            
            aria-describedby="button-desc">
            <span class="button__icon">
              <svg class="icon" viewBox="0 0 32 32"
              role="presentation">
                <circle cx="16" cy="16" fill="none" r="14"
                  stroke="currentColor" stroke-width="2" />
              </svg>
            </span>

            <span class="u-screen-reader-only">Action</span>
          </button>
          <div role="tooltip" class="tooltip-button__tooltip" id="button-desc">Manage Action</div>
        </div>

      </div>


      <div>

        <h3 class="f-heading">
          Button: Icon Only
          (small)
          (clear)
          
        </h3>

        <div class="tooltip-button">
          <button class="button button--icon-only
            button--clear
             button--small 
            
             has-notification "
            
            aria-describedby="button-desc">
            <span class="button__icon">
              <svg class="icon" viewBox="0 0 32 32"
              role="presentation">
                <circle cx="16" cy="16" fill="none" r="14"
                  stroke="currentColor" stroke-width="2" />
              </svg>
            </span>

            <span class="u-screen-reader-only">Action</span>
          </button>
          <div role="tooltip" class="tooltip-button__tooltip" id="button-desc">Manage Action</div>
        </div>

      </div>






      <div>

        <h3 class="f-heading">
          Button: Icon Only
          (default)
          (alert)
          
        </h3>

        <div class="tooltip-button">
          <button class="button button--icon-only
            button--alert
            
            
            "
            
            aria-describedby="button-desc">
            <span class="button__icon">
              <svg class="icon" viewBox="0 0 32 32"
              role="presentation">
                <circle cx="16" cy="16" fill="none" r="14"
                  stroke="currentColor" stroke-width="2" />
              </svg>
            </span>

            <span class="u-screen-reader-only">Action</span>
          </button>
          <div role="tooltip" class="tooltip-button__tooltip" id="button-desc">Manage Action</div>
        </div>

      </div>


      <div>

        <h3 class="f-heading">
          Button: Icon Only
          (default)
          (alert)
          
        </h3>

        <div class="tooltip-button">
          <button class="button button--icon-only
            button--alert
            
            
             has-notification "
            
            aria-describedby="button-desc">
            <span class="button__icon">
              <svg class="icon" viewBox="0 0 32 32"
              role="presentation">
                <circle cx="16" cy="16" fill="none" r="14"
                  stroke="currentColor" stroke-width="2" />
              </svg>
            </span>

            <span class="u-screen-reader-only">Action</span>
          </button>
          <div role="tooltip" class="tooltip-button__tooltip" id="button-desc">Manage Action</div>
        </div>

      </div>




      <div>

        <h3 class="f-heading">
          Button: Icon Only
          (small)
          (alert)
          
        </h3>

        <div class="tooltip-button">
          <button class="button button--icon-only
            button--alert
             button--small 
            
            "
            
            aria-describedby="button-desc">
            <span class="button__icon">
              <svg class="icon" viewBox="0 0 32 32"
              role="presentation">
                <circle cx="16" cy="16" fill="none" r="14"
                  stroke="currentColor" stroke-width="2" />
              </svg>
            </span>

            <span class="u-screen-reader-only">Action</span>
          </button>
          <div role="tooltip" class="tooltip-button__tooltip" id="button-desc">Manage Action</div>
        </div>

      </div>


      <div>

        <h3 class="f-heading">
          Button: Icon Only
          (small)
          (alert)
          
        </h3>

        <div class="tooltip-button">
          <button class="button button--icon-only
            button--alert
             button--small 
            
             has-notification "
            
            aria-describedby="button-desc">
            <span class="button__icon">
              <svg class="icon" viewBox="0 0 32 32"
              role="presentation">
                <circle cx="16" cy="16" fill="none" r="14"
                  stroke="currentColor" stroke-width="2" />
              </svg>
            </span>

            <span class="u-screen-reader-only">Action</span>
          </button>
          <div role="tooltip" class="tooltip-button__tooltip" id="button-desc">Manage Action</div>
        </div>

      </div>
</div>

<div style="margin-bottom:20px;">
<hr>

<h2 class="f-heading">Button: Content</h2>

<button class="button button--content">
  <svg class="button__icon button__icon--prepend" viewBox="0 0 32 32"
    role="presentation">
    <circle cx="16" cy="16" fill="none" r="14"
      stroke="currentColor" stroke-width="2" />
  </svg>
  Content Button
</button>
</div>

