

<h2 class="f-heading">Record Card</h2>
<div class="record record--card">
  <div class="record__group record__group--data">
    <img class="record__image" src="http://lorempixel.com/300/300/people" alt="">
    <h2 class="record__title--small">Title</h2>
    <h3 class="record__subtitle">Subtitle<span class="record__data-point">Data Point</span>
    </h3>

    <ul class="record__list">
      <li class="record__data-point">Data Point 1</li>
      <li class="record__data-point">Data Point 2</li>
      <li class="record__data-point">Data Point 3</li>
      <li class="record__data-point">Data Point 4</li>
    </ul>
  </div>

  <div class="tooltip-button">
    <button class="button button--clear button--small button--icon-only"
aria-describedby="button-desc">
      <svg class="button__icon" role="presentation">
        <use xlink:href="../../svg/svg.svg#ellipsis-v"></use>
      </svg>
      <span class="u-screen-reader-only">Action</span>
    </button>
    <div role="tooltip" class="tooltip-button__tooltip"
id="button-desc">Action</div>
  </div>
</div>

