

<dl class="summary-data-row">
  <div class="summary-data-row__pair">
    <dt class="summary-data-row__label">Sworn In</dt>
    <dd class="summary-data-row__value">August 10, 1993</dd>
  </div>
  <div class="summary-data-row__pair">
    <dt class="summary-data-row__label">Appointed By</dt>
    <dd class="summary-data-row__value">President of the United States</dd>
  </div>
  <div class="summary-data-row__pair">
    <dt class="summary-data-row__label">Leave Balances</dt>
    <div class="summary-data-row__value--multi">
      <dd class="summary-data-row__value">18 sick</dd>
      <dd class="summary-data-row__value">24 vacation</dd>
      <dd class="summary-data-row__value">6 personal</dd>
    </div>
  </div>
</dl>

