

<h2 class="f-heading">Table, Manage</h2>
<table class="table table--manage">

  <colgroup>
    <col class="table__col table__col--checkbox">
    <col class="table__col table__col--input-lg">
    <col class="table__col table__col--select-md">
    <col class="table__col table__col--input-md">
    <col class="table__col table__col--input-sm">
    <col class="table__col table__col--input-sm">
    <col class="table__col table__col--select-sm">
    <col class="table__col table__col--actions">
  </colgroup>

  <thead>
    <tr>
      <th class="table__cell table__cell--head table__cell--checkbox">
        <label class="checkbox" for="checkbox1">
          <input class="checkbox__input" type="checkbox" id="checkbox1">
          <svg class="checkbox__icon" role="presentation">
            <use xlink:href="/svg/svg.svg#check-filled"/>
          </svg>
        </label>
      </th>
      <th class="table__cell table__cell--head">Name</th>
      <th class="table__cell table__cell--head">Title</th>
      <th class="table__cell table__cell--head">Department</th>
      <th class="table__cell table__cell--head">ID</th>
      <th class="table__cell table__cell--head">SSN</th>
      <th class="table__cell table__cell--head">Status</th>
      <th class="table__cell table__cell--head table__cell--actions">

        <div class="table__action-buttons">
          <button class="table__action-button button button--icon-only button--clear">
            <svg class="button__icon" role="presentation">
              <use xlink:href="/svg/svg.svg#cog">
            </svg>
          </button>
        </div>

      </th>

    </tr>

    <tr>
      <th class="table__cell table__cell--head"></th>
      <th class="table__cell table__cell--head table__cell--input">
        <label class="form-input">
          <input type="text" class="form-input__input">
        </label>
      </th>
      <th class="table__cell table__cell--head table__cell--select">
        <label class="select-input">
          <span class="select-input__content">
            <select class="select-input__select">
              <option value="1">Option 1</option>
              <option value="3">Longer Option 2</option>
              <option value="4">Option 3</option>
            </select>
            <svg class="select-input__icon" aria-hidden="true">
              <use xlink:href="/svg/svg.svg#triangle-down"></use>
            </svg>
          </span>
        </label>
      </th>
      <th class="table__cell table__cell--head table__cell--input">
        <label class="form-input">
          <input type="text" class="form-input__input">
        </label>
      </th>
      <th class="table__cell table__cell--head table__cell--input">
        <label class="form-input">
          <input type="text" class="form-input__input">
        </label>
      </th>
      <th class="table__cell table__cell--head table__cell--input">
        <label class="form-input">
          <input type="text" class="form-input__input">
        </label>
      </th>
      <th class="table__cell table__cell--head table__cell--select">
        <label class="select-input">
          <span class="select-input__content">
            <select class="select-input__select">
              <option value="1">Active</option>
              <option value="3">Terminated</option>
            </select>
            <svg class="select-input__icon" aria-hidden="true">
              <use xlink:href="/svg/svg.svg#triangle-down"></use>
            </svg>
          </span>
        </label>
      </th>
      <th class="table__cell table__cell--head table__cell--actions">
        <div class="table__action-buttons">
          <button class="table__action-button button button--icon-only button--clear">
            <svg class="button__icon button__icon--bookmark">
              <use xlink:href="/svg/svg.svg#bookmark">
            </svg>
          </button>
        </div>
      </th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td class="table__cell table__cell--checkbox">
        <label class="checkbox" for="checkbox2">
          <input class="checkbox__input" type="checkbox" id="checkbox2">
          <svg class="checkbox__icon" role="presentation">
            <use xlink:href="/svg/svg.svg#check-filled"/>
          </svg>
        </label>
      </td>
      <td class="table__cell table__cell--name">
        <div class="table__cell__person">
          <img class="table__cell__img" src="https://lorempixel.com/300/300/people" alt="">
          <span>Ruth Bader Ginsberg</span>
        </div>
      </td>
      <td class="table__cell">Justice of Supreme Court</td>
      <td class="table__cell">Department of Justice</td>
      <td class="table__cell">01932</td>
      <td class="table__cell">1234</td>
      <td class="table__cell">Active</td>
      <td class="table__cell table__cell--actions">

        <div class="table__action-buttons">
          <button class="table__action-button button button--icon-only button--clear is-bookmarked">
            <svg class="button__icon button__icon--bookmark" role="presentation">
              <use xlink:href="/svg/svg.svg#bookmark">
            </svg>
            <svg class="button__icon button__icon--bookmark-checked" role="presentation">
              <use xlink:href="/svg/svg.svg#bookmark-checked">
            </svg>
          </button>
          <button class="table__action-button button button--icon-only button--clear">
            <svg class="button__icon" role="presentation">
              <use xlink:href="/svg/svg.svg#ellipsis-v">
            </svg>
          </button>
        </div>

      </td>
    </tr>

    <tr>
      <td class="table__cell table__cell--checkbox">
        <label class="checkbox" for="checkbox2">
          <input class="checkbox__input" type="checkbox" id="checkbox2">
          <svg class="checkbox__icon" role="presentation">
            <use xlink:href="/svg/svg.svg#check-filled"/>
          </svg>
        </label>
      </td>
      <td class="table__cell table__cell--name">
        <div class="table__cell__person">
          <img class="table__cell__img" src="https://lorempixel.com/300/300/people" alt="">
          <span>Sonia Sotomayor</span>
        </div>
      </td>

      <td class="table__cell">Justice of Supreme Court</td>
      <td class="table__cell">Department of Justice</td>
      <td class="table__cell">02013</td>
      <td class="table__cell">1234</td>
      <td class="table__cell">Active</td>
      <td class="table__cell table__cell--actions">

        <div class="table__action-buttons">
          <button class="table__action-button button button--icon-only button--clear is-bookmarked">
            <svg class="button__icon button__icon--bookmark" role="presentation">
              <use xlink:href="/svg/svg.svg#bookmark">
            </svg>
            <svg class="button__icon button__icon--bookmark-checked" role="presentation">
              <use xlink:href="/svg/svg.svg#bookmark-checked">
            </svg>
          </button>
          <button class="table__action-button button button--icon-only button--clear">
            <svg class="button__icon" role="presentation">
              <use xlink:href="/svg/svg.svg#ellipsis-v">
            </svg>
          </button>
        </div>

      </td>
    </tr>

    <tr>
      <td class="table__cell table__cell--checkbox">
        <label class="checkbox" for="checkbox2">
          <input class="checkbox__input" type="checkbox" id="checkbox2">
          <svg class="checkbox__icon" role="presentation">
            <use xlink:href="/svg/svg.svg#check-filled"/>
          </svg>
        </label>
      </td>
      <td class="table__cell table__cell--name">
        <div class="table__cell__person">
          <img class="table__cell__img" src="https://lorempixel.com/300/300/people" alt="">
          <span>Elena Kagan</span>
        </div>
      </td>

      <td class="table__cell">Justice of Supreme Court</td>
      <td class="table__cell">Department of Justice</td>
      <td class="table__cell">02013</td>
      <td class="table__cell">1234</td>
      <td class="table__cell">Active</td>
      <td class="table__cell table__cell--actions">

        <div class="table__action-buttons">
          <button class="table__action-button button button--icon-only button--clear is-bookmarked">
            <svg class="button__icon button__icon--bookmark" role="presentation">
              <use xlink:href="/svg/svg.svg#bookmark">
            </svg>
            <svg class="button__icon button__icon--bookmark-checked" role="presentation">
              <use xlink:href="/svg/svg.svg#bookmark-checked">
            </svg>
          </button>
          <button class="table__action-button button button--icon-only button--clear">
            <svg class="button__icon" role="presentation">
              <use xlink:href="/svg/svg.svg#ellipsis-v">
            </svg>
          </button>
        </div>

      </td>
    </tr>
  </tbody>

</table>
<div class="table-footer">
  <p>
    <span class="table-footer--emphasis">1–10 </span>of 25</p>

  <nav>
     <ul class="pagination">
        <li>
          <a class="pagination__link pagination__link--previous is-disabled" href="#">Previous</a>
        </li>
        <li>
          <a class="pagination__link" href="#">1</a>
        </li>
        <li>
          <a class="pagination__link" href="#">2</a>
        </li>
        <li>
          <a class="pagination__link is-active" href="#">3</a>
        </li>
        <li>
          <a class="pagination__link" href="#">4</a>
        </li>
        <li>
          <a class="pagination__link" href="#">5</a>
        </li>
        <li>
          <a class="pagination__link" href="#">…</a>
        </li>
        <li>
          <a class="pagination__link pagination__link--next" href="#">Next</a>
        </li>
     </ul>
  </nav>

  <label class="select-input select-input--table-footer">
    <span class="select-input__content">
      <select class="select-input__select" aria-label="Display per page.">
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="30">30</option>
      </select>
      <svg class="select-input__icon" aria-hidden="true">
        <use xlink:href="/svg/svg.svg#triangle-down"></use>
      </svg>
    </span>
    <span class="select-input__quantifier" aria-hidden="true">per page</span>
  </label>
</div>

