

<h2 class="f-heading">Table, Setup: Add Rates</h2>
<table class="table table--add-salary">

  <colgroup>
    <col class="table__col">
    <col class="table__col">
    <col class="table__col">
    <col class="table__col">
    <col class="table__col">
    <col class="table__col table__col--actions">
  </colgroup>

  <thead>
    <tr>
      <th class="table__cell table__cell--head">Step</th>
      <th class="table__cell table__cell--head">Base</th>
      <th class="table__cell table__cell--head">Supplement</th>
      <th class="table__cell table__cell--head">Total</th>
      <th class="table__cell table__cell--head">Pay Rate</th>
      <th class="table__cell table__cell--head table__cell--actions">

        <div class="table__action-buttons">
          <button class="table__action-button button button--small button--icon-only button--clear">
            <svg class="button__icon" role="presentation">
              <use xlink:href="../../svg/svg.svg#plus"/></use>
            </svg>
          </button>
        </div>

      </th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td class="table__cell">A</td>
      <td class="table__cell">–</td>
      <td class="table__cell">–</td>
      <td class="table__cell">–</td>
      <td class="table__cell">52,000</td>
      <td class="table__cell table__cell--actions">

        <div class="table__action-buttons">
          <button class="table__action-button button button--small button--icon-only button--clear">
            <svg class="button__icon button__icon--copy" role="presentation">
              <use xlink:href="../../svg/svg.svg#copy"/></use>
            </svg>
          </button>
          <button class="table__action-button button button--small button--icon-only button--clear">
            <svg class="button__icon button__icon--trash" role="presentation">
              <use xlink:href="../../svg/svg.svg#trash"/></use>
            </svg>
          </button>
          <button class="table__action-button button button--small button--icon-only button--clear">
            <svg class="button__icon button__icon--bars" role="presentation">
              <use xlink:href="../../svg/svg.svg#bars"/></use>
            </svg>
          </button>
        </div>

      </td>
    </tr>

    <tr>
      <td class="table__cell">B</td>
      <td class="table__cell">–</td>
      <td class="table__cell">–</td>
      <td class="table__cell">–</td>
      <td class="table__cell">57,000</td>
      <td class="table__cell table__cell--actions">

        <div class="table__action-buttons">
          <button class="table__action-button button button--small button--icon-only button--clear">
            <svg class="button__icon button__icon--copy" role="presentation">
              <use xlink:href="../../svg/svg.svg#copy"/></use>
            </svg>
          </button>
          <button class="table__action-button button button--small button--icon-only button--clear">
            <svg class="button__icon button__icon--trash" role="presentation">
              <use xlink:href="../../svg/svg.svg#trash"/></use>
            </svg>
          </button>
          <button class="table__action-button button button--small button--icon-only button--clear">
            <svg class="button__icon button__icon--bars" role="presentation">
              <use xlink:href="../../svg/svg.svg#bars"/></use>
            </svg>
          </button>
        </div>

      </td>
    </tr>

    <tr>
      <td class="table__cell">C</td>
      <td class="table__cell">–</td>
      <td class="table__cell">–</td>
      <td class="table__cell">–</td>
      <td class="table__cell">62,000</td>
      <td class="table__cell table__cell--actions">

        <div class="table__action-buttons">
          <button class="table__action-button button button--small button--icon-only button--clear">
            <svg class="button__icon button__icon--copy" role="presentation">
              <use xlink:href="../../svg/svg.svg#copy"/></use>
            </svg>
          </button>
          <button class="table__action-button button button--small button--icon-only button--clear">
            <svg class="button__icon button__icon--trash" role="presentation">
              <use xlink:href="../../svg/svg.svg#trash"/></use>
            </svg>
          </button>
          <button class="table__action-button button button--small button--icon-only button--clear">
            <svg class="button__icon button__icon--bars" role="presentation">
              <use xlink:href="../../svg/svg.svg#bars"/></use>
            </svg>
          </button>
        </div>

      </td>
    </tr>

  </tbody>

</table>

