<header class="ee-header">

  <img class="ee-header__photo" src="" alt="Photo of Jason Sands" width="80" height="80">

  <p class="ee-header__name">Jason Sands</p>
  <p class="ee-header__dept">Information Technology</p>

  <dl class="ee-header__details">
    <dt class="ee-header__detail-name">Manager</dt>
    <dd class="ee-header__detail-text">Sheri Allen</dd>

    <dt class="ee-header__detail-name">Hired &bull; 1 yr 4 mos</dt>
    <dd class="ee-header__detail-text">Jan 15, 2019</dd>
  </dl>

  <ul class="ee-header__actions">
    <li>
      <button class="button button--icon-only button--dim button--small ee-header__action">
        <svg class="button__icon button__icon--phone">
          <use xlink:href="{{path '/svg/svg.svg' }}#phone"></use>
        </svg>
      </button>
    </li>

    <li>
      <button class="button button--icon-only button--dim button--small ee-header__action">
        <svg class="button__icon button__icon--envelope">
          <use xlink:href="{{path '/svg/svg.svg' }}#envelope"></use>
        </svg>
      </button>
    </li>

    <li>
      <button class="button button--icon-only button--dim button--small ee-header__action">
        <svg class="button__icon">
          <use xlink:href="{{path '/svg/svg.svg' }}#close"></use>
        </svg>
      </button>
    </li>
  </ul>

</header>
