{{!-- Note: This component may no longer exist. Cannot locate in Figma. --}}
<div class="app-card">
  <p class="app-card__title">Title</p>
  <p class="app-card__description">Description</p>
  <svg class="app-card__icon" role="presentation">
    <use xlink:href="{{path '/svg/svg.svg' }}#home"></use>
  </svg>
  <svg class="app-card__arrow" role="presentation">
    <use xlink:href="{{path '/svg/svg.svg' }}#arrow-right"></use>
  </svg>
</div>
