.app-card {
  padding: 18px;
  background-color: var(--white);
  border-radius: $border-radius-sm;
  display: grid;
  grid-template:
    "i t a" auto
    "i d d" auto / auto 1fr auto;
}

.app-card__arrow {
  grid-area: a;
  width: 14px;
  height: 16px;
}

.app-card__title {
  @include type('app-card-title');

  margin-bottom: 8px;
  grid-area: t;
}

.app-card__description {
  @include type('body-small');

  grid-area: d;
  color: var(--color-text-quiet);
}

.app-card__icon {
  grid-area: i;
  width: 32px;
  height: 32px;
  margin-right: 14px;
  fill: var(--color-primary);
}
