.toast {
  display: flex;
  align-items: center;
  padding: 18px 24px;
  background: var(--color-near-black-overlay);
  color: var(--color-text-lightest);
  border: 1px solid var(--color-gray-70);
  border-radius: $border-radius-sm;
  box-shadow: $shadow-lg;
}

.toast__icon {
  width: 1em;
  height: 1em;
  margin-right: 8px;
  color: var(--color-secondary);
}
