.toast {
  display: flex;
  align-items: center;
  padding: 18px 24px;
  background-color: var(--color-near-black-overlay);
  color: var(--color-text-lightest);
  border-radius: $border-radius-sm;
  box-shadow: $shadow-lg;
}

.toast--alert {
  background-color: var(--color-alert);
}

.toast--caution {
  background-color: var(--color-caution);
}

.toast--success {
  background-color: var(--color-success);
}

.toast--caution,
.toast--success {
  color: var(--color-text-body);
}

.toast__icon {
  width: 1em;
  height: 1em;
  margin-right: 8px;
  color: inherit;
}
