<div class="row-header">
  <p class="row-header__title">
    Section Title
  </p>
  <button class="button button--action row-header__action">
    Action
  </button>
  <button class="button button--action row-header__action">
    Action
  </button>
</div>
