.sidebar-list__item {
  @include type('body-single-line');

  display: flex;
  align-items: center;
  padding: 14px 20px;
  border-radius: $border-radius-sm;
  color: var(--color-gray-60);
}

.sidebar-list__item--current,
.sidebar-list__item--folder {
  background: var(--color-bg-dark);
  color: $color-text-lightest;
}

.sidebar-list__item--folder,
.sidebar-list__item--subfolder {
  &:not(:first-child) {
    margin-top: 12px;
  }
}

.sidebar-list__item--subfolder {
  margin-left: 16px;
  background: var(--color-gray-background);
  color: inherit;
}

.sidebar-list__count {
  margin-left: auto;
}

.sidebar-list__icon {
  width: 1.25em;
  height: 1.25em;
  margin-right: 12px;
}
