<ul class="sidebar-list">

  <li class="sidebar-list__item sidebar-list__item--current">
    All
    <span class="sidebar-list__count">943</span>
  </li>

  <li class="sidebar-list__item">
    Bank Files
  </li>

  <li class="sidebar-list__item">
    Cases
  </li>

  <li class="sidebar-list__item">
    Contracts
  </li>

  <li class="sidebar-list__item">
    HR
  </li>

  <li class="sidebar-list__item">
    Tax
  </li>

  <li class="sidebar-list__item">
    Year-End
  </li>

</ul>
