<ul class="sidebar-list">

  <li class="sidebar-list__item sidebar-list__item--current">
    All
    <span class="sidebar-list__count">245</span>
  </li>

  <li class="sidebar-list__item">
    Label
  </li>

  <li class="sidebar-list__item">
    Label
  </li>

  <li class="sidebar-list__item">
    Label
  </li>

  <li class="sidebar-list__item">
    Label
  </li>

  <li class="sidebar-list__item">
    Label
  </li>

  <li class="sidebar-list__item">
    Label
  </li>

</ul>
