<!doctype html>
<html lang="en" data-color-theme="{{ _target.name }}">
  <head>
    <meta charset="utf-8" />
    <title>Preview Layout</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ path '/css/global.css' }}">
    <link rel="stylesheet" href="{{ path '/css/fractal.css' }}">

    <style>
      <!--
        /* Temporary styles */

        * {
          box-sizing: border-box;
        }

        html {
          overflow: auto;
        }

        body {
          height: 100%;
        }

        .page {
          height: 100%;
          max-width: 1200px;
          margin: 0 auto;
          display: grid;
          grid-template:
            'n n' auto
            'e e' auto
            'a m' 1fr / auto 1fr;
        }

        .ee-header {
          background: white;
          grid-area: e;
        }

        aside {
          grid-area: a;
          min-width: 300px;
          padding: 40px;
          background: white;
        }

        main {
          grid-area: m;
          padding: 40px;
          background: #fff;
        }

        header {
          grid-area: n;
        }
        -->
    </style>

  </head>
  <body class="brand-bg">
    {{{ yield }}}
  </body>
</html>
