<li class="ee-card">
  <img class="ee-card__avatar" src="" width="48" height="48">
  <p class="ee-card__name">Jason Sands</p>
  <p class="ee-card__dept">Information Technology</p>
  <p class="ee-card__phone">123-12-1234 | (800) 555-0199</p>
  <svg class="ee-card__icon ee-card__icon--ellipsis-v">
    <use xlink:href="{{path '/svg/svg.svg' }}#ellipsis-v"/>
  </svg>
</li>

