.detail-menu__heading {
  @include type('body-small');

  margin-bottom: 11px;
  color: var(--color-text-quiet);

  .detail-menu__list + & {
    margin-top: 96px;
  }
}

.detail-menu__list-item {
  &:not(:last-child) {
    margin-bottom: 2px;
  }
}

.detail-menu__link {
  @include text-touch;

  text-decoration: none;
  color: inherit;
}
