<nav class="detail-menu">
  <h3 class="detail-menu__heading">
    Profile
  </h3>
  <ul class="detail-menu__list">
    <li class="detail-menu__list-item"><a href="#" class="detail-menu__link">Assignments</a></li>
    <li class="detail-menu__list-item"><a href="#" class="detail-menu__link">Compliance</a></li>
    <li class="detail-menu__list-item"><a href="#" class="detail-menu__link">Demographics</a></li>
  </ul>

  <h3 class="detail-menu__heading">
    Profile
  </h3>
  <ul class="detail-menu__list">
    <li class="detail-menu__list-item"><a href="#" class="detail-menu__link">Assignments</a></li>
    <li class="detail-menu__list-item"><a href="#" class="detail-menu__link">Compliance</a></li>
    <li class="detail-menu__list-item"><a href="#" class="detail-menu__link">Demographics</a></li>
  </ul>

</nav>
