<div class="tab-buttons">

  {{!--
    TODO:
    1. These tabs should be switchable by pressing right/left; no "enter" action should be needed on these to change tabs when using a keyboard
    2. Pressing "tab" after selecting a tab (with left/right keys) should move focus *into* the corresponding tab panel, not to the next tab
    3. Toggle `.is-active` class, `aria-selected`, and `hidden` when tabs are activated/clicked
    Reference: https://inclusive-components.design/tabbed-interfaces/
  --}}

  {{!-- TODO: add class `.is-disabled` to arrow buttons based on scroll position. --}}
  <a href="#" class="tab-buttons__button tab-buttons__button--previous is-disabled">
    <svg class="tab-buttons__icon" aria-hidden="true">
      <use xlink:href="{{path '/svg/svg.svg' }}#angle-left" />
    </svg>
  </a>

  {{!-- TODO: content within this list may be scrolled horizontally, depending on how many tabs there are. Arrow keys ('--previous' and '--next' should move list left or right. --}}
  <ul class="tabs-buttons__list" role="tablist">
    <li role="presentation">
      <a href="#" role="tab" class="tab-buttons__button" id="tab-1" aria-controls="tab-panel-1">Label</a>
    </li>
    <li role="presentation">
      <a href="#" role="tab" class="tab-buttons__button" id="tab-2" aria-controls="tab-panel-2">Label</a>
    </li>
    <li role="presentation">
      <a href="#" role="tab" class="tab-buttons__button is-active" id="tab-3" aria-selected="true" aria-controls="tab-panel-3">Label</a>
    </li>
    <li role="presentation">
      <a href="#" role="tab" class="tab-buttons__button" id="tab-4" aria-controls="tab-panel-4">Label</a>
    </li>
    <li role="presentation">
      <a href="#" role="tab" class="tab-buttons__button" id="tab-5" aria-controls="tab-panel-5">Label</a>
    </li>
    <li role="presentation">
      <a href="#" role="tab" class="tab-buttons__button" id="tab-6" aria-selected="true" aria-controls="tab-panel-6">Label</a>
    </li>
    <li role="presentation">
      <a href="#" role="tab" class="tab-buttons__button" id="tab-7" aria-controls="tab-panel-7">Label</a>
    </li>
    <li role="presentation">
      <a href="#" role="tab" class="tab-buttons__button" id="tab-8" aria-controls="tab-panel-8">Label</a>
    </li>
  </ul>
  <a href="#" class="tab-buttons__button tab-buttons__button--next">
    <svg class="tab-buttons__icon" aria-hidden="true">
      <use xlink:href="{{path '/svg/svg.svg' }}#angle-right" />
    </svg>
  </a>
</div>

<div id="tab-panels">
  <div id="tab-panel-1" role="tabpanel" aria-labeledby="tab-1" hidden></div>
  <div id="tab-panel-2" role="tabpanel" aria-labeledby="tab-2" hidden></div>
  <div id="tab-panel-3" role="tabpanel" aria-labeledby="tab-3">Tab 3 Content</div>
  <div id="tab-panel-4" role="tabpanel" aria-labeledby="tab-4" hidden></div>
  <div id="tab-panel-5" role="tabpanel" aria-labeledby="tab-5" hidden></div>
  <div id="tab-panel-6" role="tabpanel" aria-labeledby="tab-6" hidden></div>
  <div id="tab-panel-7" role="tabpanel" aria-labeledby="tab-7" hidden></div>
  <div id="tab-panel-8" role="tabpanel" aria-labeledby="tab-8" hidden></div>
  <div id="tab-panel-9" role="tabpanel" aria-labeledby="tab-9" hidden></div>
</div>
