.page-menu {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.page-menu__heading {
  @include type('body-small');

  color: var(--color-text-quiet);
  margin-bottom: 16px;

  ul + & {
    margin-top: 40px;
  }
}

.page-menu__link {
  @include arrow-menu-item;

  padding: 14px 18px;
  border: 1px solid var(--color-gray-5);
  border-width: 1px 1px 0;

  :first-child > & {
    border-radius: $border-radius-sm $border-radius-sm 0 0;
  }

  :last-child > & {
    border-bottom-width: 1px;
    border-radius: 0 0 $border-radius-sm $border-radius-sm;
  }

  &:focus,
  &:hover {
    border-color: var(--color-primary);
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--white), 0 0 0 4px var(--color-primary);
    position: relative;
    z-index: $z-normal;
  }
}
