<div class="footer l-container-wide">
  <div class="footer__brand">
    {{!-- Purely decorative. See https://www.scottohara.me/blog/2019/05/22/contextual-images-svgs-and-a11y.html --}}
    <svg class="footer__brand__icon" aria-hidden="true">
      <use xlink:href="/svg/svg.svg#logo-cs-tree"></use>
    </svg>

    {{!-- SVG that convey's information. (same link as above) --}}
    <svg class="footer__brand__logotext" role="img">
      <title>CitySuite</title>
      <use xlink:href="/svg/svg.svg#logo-cs-name" aria-hidden="true"></use>
    </svg>
  </div>
  <p class="footer__app-version">Version 1.0</p>
</div>
