<div class="info-box">

  <header class="info-box__header">
    PTO Balances
  </header>

  <p class="info-box__text">
    4 sick &bull; 13 vacation &bull; 2 personal
  </p>

</div>

<div class="info-box">

  <header class="info-box__header">
    PTO Balances
  </header>

  <ul class="info-box__list">
    <li class="info-box__item">
      <p class="info-box__item-name">
        Salary Increase
      </p>

      <p class="info-box__progress-name">
        Review 2 of 4
      </p>

      <progress class="progress info-box__progress-meter" max="1" value="0.5">
      </progress>

    </li>

    <li class="info-box__item">
      <p class="info-box__item-name">
        Sr. Systems Engineer II
      </p>
      <p class="info-box__item-detail">
        1 yr 4 mos
      </p>
    </li>
  </ul>

</div>
