.color-group {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.color-variant {
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.color-chip {
  margin: 0.5rem;
  width: 7rem;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: $border-radius-round;
  color: var(--white);
  text-align: center;
}

// Grays
.color-group--grays {
  .color-chip {
    &:nth-of-type(1) {
      background: var(--color-near-black);
    }

    &:nth-of-type(2) {
      background: alpha(var(--color-near-black), 0.95);
    }

    &:nth-of-type(3) {
      background: var(--color-gray-90);
    }

    &:nth-of-type(4) {
      background: var(--color-gray-80);
    }

    &:nth-of-type(5) {
      background: var(--color-gray-70);
    }

    &:nth-of-type(6) {
      background: var(--color-gray-60);
    }

    &:nth-of-type(7) {
      background: var(--color-gray-50);
    }

    &:nth-of-type(8) {
      background: var(--color-gray-40);
    }

    &:nth-of-type(9) {
      background: var(--color-gray-30);
    }

    &:nth-of-type(10) {
      background: var(--color-gray-20);
    }

    &:nth-of-type(11) {
      background: var(--color-gray-10);
    }

    &:nth-of-type(12) {
      background: var(--color-gray-5);
    }

    &:nth-of-type(13) {
      background: var(--color-bg-gray);
    }

    &:nth-of-type(14) {
      background: var(--color-bg-gray-light);
    }

    &:nth-of-type(n+8) {
      color: var(--color-text-body);
    }
  }
}

// Status colors
.color-group--status {
  .color-variant {
    width: 100%;
    flex-wrap: wrap;
  }

  p {
    min-width: 10ch;
  }
}

.color-chip {
  .color-variant--alert & {
    &:nth-of-type(1) {
      background: var(--color-alert);
    }

    &:nth-of-type(2) {
      background: lightness(var(--color-alert), 0.88);
    }

    &:nth-of-type(3) {
      background: lightness(var(--color-alert), 2.25);
      color: var(--color-text-body);
    }
  }

  .color-variant--caution & {
    color: var(--color-text-body);

    &:nth-of-type(1) {
      background: var(--color-caution);
    }

    &:nth-of-type(2) {
      background: lightness(var(--color-caution), 0.9);
    }

    &:nth-of-type(3) {
      background: lightness(var(--color-caution), 1.9);
    }
  }

  .color-variant--info & {
    color: var(--color-text-body);

    &:nth-of-type(1) {
      background: var(--color-info);
    }

    &:nth-of-type(2) {
      background: lightness(var(--color-info), 0.83);
    }

    &:nth-of-type(3) {
      background: lightness(var(--color-info), 1.98);
    }
  }

  .color-variant--success & {
    &:nth-of-type(1) {
      background: var(--color-success);
      color: var(--color-text-body);
    }

    &:nth-of-type(2) {
      background: lightness(var(--color-success), 0.8);
    }

    &:nth-of-type(3) {
      background: lightness(var(--color-success), 2.57);
      color: var(--color-text-body);
    }
  }
}

.color-group--theme {
  margin-bottom: 2rem;

  p {
    min-width: 16ch;
  }

  .color-chip {
    &:nth-of-type(1) {
      background: var(--color-primary);
    }

    &:nth-of-type(2) {
      background: lightness(var(--color-primary), 0.8);
    }

    &:nth-of-type(3) {
      background: lightness(var(--color-primary), 1.8);
      color: var(--color-text-body);
    }

    &:nth-of-type(4) {
      background: var(--color-secondary);
    }

    &:nth-of-type(5) {
      background: var(--color-tertiary);
    }

    &:nth-of-type(6) {
      background: var(--color-gradient);
    }
  }
}
