/**
 * @tokens Spacing
 */

/* Based on https://codyhouse.co/ds/globals/spacing. Fibonacci sequence
 * Note: if you use 'em' the spacing will scale with font-size.
 * Use 'rem' for static sizing.
 */
:root {
  --space-base: 1rem; // 16px
  --space-xxxs: calc(0.125 * var(--space-base)); // 2px
  --space-xxs: calc(0.25 * var(--space-base)); // 4px
  --space-xs: calc(0.375 * var(--space-base)); // 6px
  --space-sm: calc(0.625 * var(--space-base)); // 10px
  --space-md: var(--space-base); // 16px
  --space-lg: calc(1.625 * var(--space-base)); // 26px
  --space-xl: calc(2.625 * var(--space-base)); // 42px
  --space-xxl: calc(4.25 * var(--space-base)); // 68px
  --space-xxxl: calc(6.875 * var(--space-base)); // 110px
  --component-padding: var(--space-md);

  // Tokens for common padding and margins. See https://medium.com/eightshapes-llc/space-in-design-systems-188bcbae0d62

  // Padding, all sides equal
  --space-inset-xs: var(--space-xs); // padding: 6px
  --space-inset-sm: var(--space-sm); // padding: 10px
  --space-inset-md: var(--space-md); // padding: 16px
  --space-inset-lg: var(--space-lg); // padding: 26px
  --space-inset-xl: var(--space-xl); // padding: 36px

  // Padding, lesser space top & bottom, see https://medium.com/eightshapes-llc/space-in-design-systems-188bcbae0d62
  --space-inset-squish-sm: var(--space-sm) var(--space-md); // padding: 10px 16px
  --space-inset-squish-md: var(--space-md) var(--space-lg); // padding: 16px 26px
  --space-inset-squish-lg: var(--space-lg) var(--space-xl); // padding: 26px 42px

  // Bottom margins for stacking
  --space-stack-xs: 0 0 var(--space-3xs 0); // margin-bottom: 6px
  --space-stack-sm: 0 0 var(--space-xs 0); // margin-bottom: 10px
  --space-stack-md: 0 0 var(--space-base 0); // margin-bottom: 16px
  --space-stack-lg: 0 0 var(--space-lg 0); // margin-bottom: 26px
  --space-stack-xl: 0 0 var(--space-xl 0); // margin-bottom: 42px
}
