/**
 * @tokens Spacing
 */

// Based on https://codyhouse.co/ds/globals/spacing. Fibonacci sequence from $space-md up.
$space-base: 1em; /* Note: if you use 'em' the spacing will scale with font-size. Use 'rem' for static sizing. */
$space-4xs: 0.125 * $space-base; /* 2px */
$space-3xs: 0.25 * $space-base; /* 4px */
$space-2xs: 0.375 * $space-base; /* 6px */
$space-xs: 0.5 * $space-base; /* 8px */
$space-sm: 0.75 * $space-base; /* 12px */
$space-md: 1 * $space-base; /* 16px */
$space-lg: 1.25 * $space-base; /* 20px */
$space-xl: 2.25 * $space-base; /* 36px */
$space-2xl: 3.5 * $space-base; /* 56px */
$space-3xl: 5.75 * $space-base; /* 92px */
$space-4xl: 9.25 * $space-base; /* 148px */

// Tokens for common padding and margins. See https://medium.com/eightshapes-llc/space-in-design-systems-188bcbae0d62

// Padding, all sides equal
$space-inset-xs: $space-xs; /* padding: 8px; */
$space-inset-sm: $space-sm; /* padding: 12px; */
$space-inset-md: $space-md; /* padding: 16px; */
$space-inset-lg: $space-lg; /* padding: 20px; */
$space-inset-xl: $space-xl; /* padding: 36px; */

// Padding, lesser space top & bottom, see https://medium.com/eightshapes-llc/space-in-design-systems-188bcbae0d62
$space-inset-squish-sm: $space-sm $space-md; /* padding: 12px 16px; */
$space-inset-squish-md: $space-md 1.5 * $space-md; /* padding: 16px 24px */
$space-inset-squish-lg: $space-lg $space-xl; /* padding: 20px 36px; */

// Bottom margins for stacking
$space-stack-xs: 0 0 $space-3xs 0; /* margin-bottom: 4px; */
$space-stack-sm: 0 0 $space-xs 0; /* margin-bottom: 8px; */
$space-stack-md: 0 0 $space-base 0; /* margin-bottom: 16px */
$space-stack-lg: 0 0 $space-lg 0; /* margin-bottom: 32px; */
$space-stack-xl: 0 0 $space-xl 0; /* margin-bottom: 52px */
