/**
 * Border Radius
 */

$border-radius-xs: 1px;
$border-radius-sm: 3px;
$border-radius-md: 6px;
$border-radius-lg: 9px;
$border-radius-xl: 12px;
$border-radius-round: 999em;

/*
 * Shadows
 * Double shadows for richness and UI harmony
 */

// Set the stacked shadows
$shadow-sm: 0 2px 4px 0 alpha(var(--color-shadow), 0.1), 0 1px 3px alpha(var(--color-shadow), 0.15);
$shadow-md: 0 8px 12px 0 alpha(var(--color-shadow), 0.1), 0 4px 12px 0 alpha(var(--color-shadow), 0.15);
$shadow-lg: 0 6px 20px 0 alpha(var(--color-shadow), 0.1), 0 4px 20px 0 alpha(var(--color-shadow), 0.15);

/**
 * Transition
 * See https://marvelapp.com/styleguide/design/animation for demos
 */

/* Timing */
// "transition duration" = "trans-dur"
$trans-dur-base: 0.15s;

/* Easing */

// No curve. Good for color/opacity fades
// "transition-timing-function" = "trans-tm-function"
$trans-tm-function-linear: linear;

// Slight curve. Good for subtle transitions
$trans-tm-function-ease: ease;

// Starts fast and decelerates as it progresses
$trans-tm-function-cb-scaleIn: cubic-bezier(0, 0.89, 0.44, 1);

// Starts slow and accelerates as it progresses
$trans-tm-function-cb-scaleOut: cubic-bezier(0.165, 0.84, 0.44, 1);

// Springy feel. Good for drawing focus
$trans-tm-function-cb-scaleUp: cubic-bezier(0.68, -0.55, 0.265, 1.55);
