<h2 class="f-heading">Table, Setup</h2>
<table class="table table--setup">

  <colgroup>
    <col class="table__col table__col--checkbox">
    <col class="table__col">
    <col class="table__col">
    <col class="table__col table__col--actions">
  </colgroup>

  <thead>
    <tr>
      <th class="table__cell table__cell--head table__cell--checkbox">
        <label class="checkbox" for="checkbox1">
          <input class="checkbox__input" type="checkbox" id="checkbox1">
          <svg class="checkbox__icon" role="presentation">
            <use xlink:href="{{path '/svg/svg.svg' }}#check-filled"/></use>
          </svg>
        </label>
      </th>
      <th class="table__cell table__cell--head">Name</th>
      <th class="table__cell table__cell--head">Status</th>
      <th class="table__cell table__cell--head"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td class="table__cell table__cell--checkbox">
        <label class="checkbox" for="checkbox2">
          <input class="checkbox__input" type="checkbox" id="checkbox2">
          <svg class="checkbox__icon" role="presentation">
            <use xlink:href="{{path '/svg/svg.svg' }}#check-filled"/>
          </svg>
        </label>
      </td>
      <td class="table__cell">Label</td>
      <td class="table__cell">Active</td>
      <td class="table__cell table__cell--actions">

        {{> '@table-actions--setup'}}

      </td>
    </tr>

    <tr>
      <td class="table__cell table__cell--checkbox">
        <label class="checkbox" for="checkbox2">
          <input class="checkbox__input" type="checkbox" id="checkbox2">
          <svg class="checkbox__icon" role="presentation">
            <use xlink:href="{{path '/svg/svg.svg' }}#check-filled"/></use>
          </svg>
        </label>
      </td>
      <td class="table__cell">Label</td>
      <td class="table__cell">Active</td>
      <td class="table__cell table__cell--actions">

        {{> '@table-actions--setup'}}

      </td>
    </tr>

    <tr>
      <td class="table__cell table__cell--checkbox">
        <label class="checkbox" for="checkbox2">
          <input class="checkbox__input" type="checkbox" id="checkbox2">
          <svg class="checkbox__icon" role="presentation">
            <use xlink:href="{{path '/svg/svg.svg' }}#check-filled"/></use>
          </svg>
        </label>
      </td>
      <td class="table__cell">Label</td>
      <td class="table__cell">Active</td>
      <td class="table__cell table__cell--actions">

        {{> '@table-actions--setup'}}

      </td>
    </tr>
  </tbody>

</table>
{{!-- Note: Not part of table, as it's not tabular data. Table and table-footer will both need to be contained to same width by their parent element. --}}
{{> '@table-footer'}}
