<h2 class="f-heading">Table, HR Setup: Add</h2>
<table class="table table--add">

  <colgroup>
    <col class="table__col">
    <col class="table__col">
    <col class="table__col table__col--actions">
  </colgroup>

  <thead>
    <tr>
      <th class="table__cell table__cell--head">Options</th>
      <th class="table__cell table__cell--head">Display</th>
      <th class="table__cell table__cell--head table__cell--actions">

        {{> '@table-actions--add'}}

      </th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td class="table__cell">Qualifying Offer</td>
      <td class="table__cell">Yes</td>
      <td class="table__cell table__cell--actions">

        {{> '@table-actions--arrange'}}

      </td>
    </tr>

    <tr>
      <td class="table__cell">Employee Only</td>
      <td class="table__cell">Yes</td>
      <td class="table__cell table__cell--actions">

        {{> '@table-actions--arrange'}}

      </td>
    </tr>

    <tr>
      <td class="table__cell">Employee + Dependent</td>
      <td class="table__cell">Yes</td>
      <td class="table__cell table__cell--actions">

        {{> '@table-actions--arrange'}}

      </td>
    </tr>

  </tbody>

</table>
