<h2 class="f-heading">Table, HR Setup: Add Salary</h2>
<table class="table table--add-salary">

  <colgroup>
    <col class="table__col">
    <col class="table__col">
    <col class="table__col">
    <col class="table__col">
    <col class="table__col">
    <col class="table__col table__col--actions">
  </colgroup>

  <thead>
    <tr>
      <th class="table__cell table__cell--head">Step</th>
      <th class="table__cell table__cell--head">Base</th>
      <th class="table__cell table__cell--head">Supplement</th>
      <th class="table__cell table__cell--head">Total</th>
      <th class="table__cell table__cell--head">Pay Rate</th>
      <th class="table__cell table__cell--head table__cell--actions">

        {{> '@table-actions--add'}}

      </th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td class="table__cell">A</td>
      <td class="table__cell">–</td>
      <td class="table__cell">–</td>
      <td class="table__cell">–</td>
      <td class="table__cell">25,330.42</td>
      <td class="table__cell table__cell--actions">

        {{> '@table-actions--arrange'}}

      </td>
    </tr>

    <tr>
      <td class="table__cell">B</td>
      <td class="table__cell">–</td>
      <td class="table__cell">–</td>
      <td class="table__cell">–</td>
      <td class="table__cell">25,330.42</td>
      <td class="table__cell table__cell--actions">

        {{> '@table-actions--arrange'}}

      </td>
    </tr>

    <tr>
      <td class="table__cell">C</td>
      <td class="table__cell">–</td>
      <td class="table__cell">–</td>
      <td class="table__cell">–</td>
      <td class="table__cell">25,330.42</td>
      <td class="table__cell table__cell--actions">

        {{> '@table-actions--arrange'}}

      </td>
    </tr>

  </tbody>

</table>
