<h3 class="f-heading">
  {{ _self.title }}
</h3>

<p>Lorem
  <span class="tooltip">
    <span class="tooltip__trigger" aria-describedby="tooltip-desc" tabindex="0">ipsum dolor </span>
    <span role="tooltip" class="tooltip__text" id="tooltip-desc">This is the tooltip info.</span>
  </span>
sit amet.</p>
