.page-tabs {
  display: flex;
}

.page-tabs__tab {
  padding: 20px 8px;
  color: var(--color-gray-60);
  cursor: pointer;

  &:focus {
    // TODO: focus styles
  }

  &:hover {
    // TODO: hover styles
  }

  & + & {
    margin-left: 12px;
  }

  &.is-active {
    color: inherit;
    border-bottom: 1px solid var(--color-primary);
  }
}
