

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Preview Layout</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../../css/global.css">
    <link rel="stylesheet" href="../../css/fractal.css">

    <style>
      <!--
        .f-heading {
          margin-bottom: 0.5em;
          color: #8B1986;
        }
      -->
    </style>
  </head>
  <body style="padding:2em;">
    <h3 class="f-heading">
  Tooltip: Default
</h3>

<p>Lorem
  <span class="tooltip">
    <span class="tooltip__trigger" aria-describedby="tooltip-desc" tabindex="0">ipsum dolor </span>
    <span role="tooltip" class="tooltip__text" id="tooltip-desc">This is the tooltip info.</span>
  </span>
sit amet.</p>

  </body>
</html>

